<%= form_tag products_path, :method => "get" do %>
    <div class="searchform">
        <%= text_field_tag :search, params[:search], placeholder: "搜索礼物关键字", class: "searchbox"%>
        <span>
            <%= submit_tag "搜索", :title => nil, :description => nil, class: "searchbutton" %>
        </span>
    </div>
<% end %>

<div class="row">
    <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3">
            <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                    <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
            <% end %>
            <%= product.title %> ￥ <%= product.price %>
            <h6>Category: <%= product.category.name %></h6>

        </div>
    <% end %>
</div>
