<%= render "products/search_bar" %>
<div class="row">
    <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3">
            <%= link_to product_path(product) do %>
            <!-- <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"> -->
                <% if product.photos.present? %>
                    <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
            <% end %>
            <%= product.title %> ￥ <%= product.price %>
            <h6>分类:<%= product.category.name %></h6>
        </div>
    <% end %>
</div>




<!--  Modal content for the above example -->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
          <h4 class="modal-title" id="myLargeModalLabel">产品大图</h4>
        </div>
        <div class="modal-body">
        <!-- <img src="http://placehold.it/200x200&text=No Pic" class="img-responsive img-rounded center-block" alt=""> -->
        <img src="product.photos[0].avatar" class="img-responsive img-rounded center-block" alt="">

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
