
<%= render "products/search_bar" %>



<div class="order-wrap">
      <ul class="order-list">
         <p class="list1" >商品排序：</p>
      <li  class="order-listItem"><a href="/products">新品</a></li>
      <li  class="order-listItem"><a href="/products?order=by_product_quantity">销量</a></li>
      <li  class="order-listItem"><a href="/products?order=by_product_price">价格</a></li>
    </ul>
</div>


</br>
<div class="row">
    <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3">
            <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                    <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
            <% end %>
            <%= product.title %> ￥ <%= product.price %>
            <h6>分类:<%= product.category.name %></h6>
        </div>
    <% end %>

</div>
