<%= render "products/search_bar" %>
<div class="row">
    <% if @products.present? %>
        <% @products.each do |product| %>
            <div class="col-xs-6 col-md-3">
                <ul>
                    <%= link_to product_path(product) do %>
                        <% if product.image.present? %>
                            <%= image_tag(product.image.thumb.url) %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                        <% end %>
                    <% end %>
                </p>
                <p class="">￥<%= product.price %></p>
                <p class="">
                    <%= link_to product_path(product) do %>
                        <%= product.title %>
                    <% end %>
                </p>
                <p><%= product.description %></p>
            </ul>
        <% end %>
    <% else %>
        <p class="">亲，没有搜索到商品哦，要不换个关键词试试？</p>
    <% end %>
</div>
</div>
