<!DOCTYPE html>
<html>
    <head>
        <title>GiftFinder</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <div class="container-fluid">
            <%= render "common/navbar" %>
            <div class="wrapper">

            <%= render "common/flashes"%>
            <%= yield %>
          </div>

        </div>
        <div class="container-fluid">
            <%= render "common/footer" %>
        </div>
    </body>
</html>

<style>
html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;}
main{padding-bottom:100px;}/* main的padding-bottom值要等于或大于footer的height值 */
footer{
  /*position:absolute;*/
  bottom:0;
  width:100%;
  height:100px;}
</style>
